@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #1A1A1D; /* Our new primary-dark color */
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
}